*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-image: radial-gradient(circle, #a8c6fa, #d8dadd);
}

header {
    background-color: #a8c6fa;
    color: white;
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: -1%;
    margin-left: -1%;
    margin-right: -1%;

}

.headerimg {
    margin-left: 40%;
    margin-right: 20px;
    width: 70px;
    border-radius: 50%;
}


nav {
    background-color: #999999;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: -1%;
    margin-right: -1%;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex: 1;
    justify-content: space-evenly;
}

nav li {
    margin: 0 60px;
    display: flex;
    justify-content: center;
    align-items: center;

}

nav a {
    color: black;
    text-decoration: none;
}

nav form {
    display: flex;
    justify-content: right;
    align-items: flex-end;
    margin-left: auto;
}

nav input[type="text"] {
    padding: 16px;

}

nav input[type="submit"] {
    padding: 16px 15px;
}

main {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
    justify-content: space-between;
}

.post {
    width: calc(50% - 20px);
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 2rem;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.post h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.post p {
    margin: 0;
    font-size: 14px;
    margin-top: 10px;
}

.post p[style*="text-align: end;"] {
    text-align: end;
    color: rgb(80, 80, 200);
}