<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Style/Style_comments.css">
</head>

<body>
    <header>
        <h1>NAGA_STORE</h1>
        <img class="headerimg" src="/Imagenes/img4.jpg" alt="50">
    </header>

    <nav>
        <ul>
            <li><a href="/Index.html">Inicio</a></li>
            <li><a href="/views/album.html">Álbum</a></li>
            <li><a href="/views/comments.html">Comentarios</a></li>
            <li><a href="/views/tareas.html">Tareas</a></li>
            <li><a href="/views/post.html">Posts</a></li>
            <li><a href="/views/usuarios.html">Usuarios</a></li>

            <form>
                <input type="text">
                <input type="submit" value="buscar">
            </form>

        </ul>
    </nav>

    <main>
        
        <section class="post">
            <h2>Nombre</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod placeat tenetur expedita atque corporis saepe architecto eius reprehenderit similique, rerum velit quibusdam culpa, reiciendis, quo omnis. Repellendus ipsa illum provident!</p>
        </section>
    </main>

    <footer><p style="text-align: center">@Nilo-2023</p></footer>
</body>
</html>