<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Style/Style_usuarios.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
</head>

<body>
    <header>
        <h1>NAGA_STORE</h1>
        <img class="headerimg" src="/Imagenes/img4.jpg" alt="50">
    </header>

    <nav>
        <ul>
            <li><a href="/Index.html">Inicio</a></li>
            <li><a href="/views/album.html">Álbum</a></li>
            <li><a href="/views/comments.html">Comentarios</a></li>
            <li><a href="/views/tareas.html">Tareas</a></li>
            <li><a href="/views/post.html">Posts</a></li>
            <li><a href="/views/usuarios.html">Usuarios</a></li>

            <form>
                <input type="text">
                <input type="submit" value="buscar">
            </form>

        </ul>
    </nav>

    <main>
        <div class="tarjetas">
                <img src="/Imagenes/img4.jpg" alt="Descripción de la imagen">
                <div class="card-body">
                    <h2>Nombre:</h2>
                </div>
                    <h4>Usuario:</h4>
                <div class="card-body">
                    <p>Correo electrónico:</p>
                </div>
                <div class="card-body">
                    <p>Ciudad:</p>
                </div>
                <div class="card-body">
                    <p>Teléfono:</p>
                </div>
        </div>
    </main>
    
    <footer><p style="text-align: center">@Nilo-2023</p></footer>
</body>
</html>